.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1% 0;
    width: 100%;
}

.blue-btn
{
    width : 18%;
    background-color: #003300;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient(to bottom, #307bfb 0%, #0530e5 80%);	
    background: -webkit-linear-gradient(to bottom, #307bfb 0%, #0530e5 80%);
    background: -moz-linear-gradient(to bottom, #307bfb 0%, #0530e5 80%);
    background: -o-linear-gradient(to bottom, #307bfb 0%, #0530e5 80%);

    box-shadow: -1px 2px #001c91;
    -webkit-box-shadow: -1px 2px #001c91;
    -moz-box-shadow: -1px 2px #001c91;
    -o-box-shadow: -1px 2px #001c91;
}

.thumb {
    max-height: 100%;
    max-width: 100%;
}